div.global-header-wrapper
	header.global-header
		div.global-header_logo
			a(href="#")
				img(src="http://placehold.it/100x35")
		nav.global-header_nav
			ul.nav.global-header_nav-links-wrapper
				li
					a(href="#/")
						| Start
				li
					a(href="#/sample")
						| Sample
