/*
### Desktop SASS
*/

@import "www/lib/bootstrap-sass/assets/stylesheets/_bootstrap";

.nav, .pagination, .carousel, .panel-title a {
	/* ### Recommended by Angular UI Bootstrap */
	cursor: pointer;
}

body {

}
