ion-tabs.tabs-icon-top.tabs-color-active-positive(ng-controller="ContentMobile")
	ion-tab(title='Start', icon-off='ion-ionic', icon-on='ion-ionic', href='#/')
		ion-nav-view(name='v-start')
	ion-tab(title='Sample', icon-off='ion-ionic', icon-on='ion-ionic', href='#/sample')
		ion-nav-view(name='v-sample')
